/* Variables for colors */
:root {
    --primary-color: #84A98C;
    --primary-hover-color: #CAD2C5;
    --primary-active-color: #84A98C;
    --background-color: #A7BEA9;
    --background-game-color: #CAD2C5;
    --text-color: #5AAAAF;
    --food-color: #4E3C6A;
    --obstacle-color: #181F23;
}

/* Body styles
 TODO: Add game textures
 TODO: Add some responsible textfield in the startWindow*/
body {
    font-family: Arial, sans-serif;
    text-align: center;
    overflow: hidden; /* Hide scrollbars */
    margin: 0;
    padding: 0;
    background: var(--background-color); /* Background color matching the logo */
    color: var(--text-color); /* Dark green text color for contrast */
}

h1, h2 {
    margin: 20px;
    color: var(--text-color);
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.logo-container {
    margin-bottom: 10px; /* Adjust this value to move the image higher */
}
/* Adjust the size of the snake game logo */
.logo-container img {
    max-width: 100%; /* Ensures the logo is responsive */
    width: 400px; /* Adjust this value to change the logo size */
    height: auto; /* Maintain aspect ratio */
}

.form-label {
    font-size: 1.2em; /* Adjust font size */
    font-weight: bold; /* Make text bold */
}


#startingWindow {
    position: relative; /* Position relative to contain child elements */
    padding: 20px; /* Add padding to separate the blurred background from the content */
    border-radius: 8px; /* Add border radius for aesthetic */
    overflow: hidden; /* Hide overflow to prevent blurred image from leaking out */
}

/* Apply blur effect and darken background image */
#startingWindow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('falling-snakes.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px) brightness(0.5); /* Apply blur and darken effect */
    z-index: -1;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label, form input {
    width: 80%;
    margin-bottom: 15px;
}

form input[type="text"], form input[type="number"] {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

form input[type="button"] {
    padding: 10px 20px;
    font-size: 1em;
    color: var(--obstacle-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form input[type="button"]:hover {
    background-color: var(--primary-hover-color);
    transform: translateY(-2px);
}

form input[type="button"]:active {
    background-color: var(--primary-active-color);
    transform: translateY(0);
}

#endgameWindow {
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
    transition: all 0.3s ease;
    background-image: url('falling-snakes.gif');
    background-size: cover; /* Ensures the background image covers the entire element */
    background-position: center; /* Centers the background image */
}

#endgame-screen {
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
}

#new-game-button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#new-game-button:hover {
    background-color: var(--primary-hover-color);
    transform: translateY(-2px);
}

#new-game-button:active {
    background-color: var(--primary-active-color);;
    transform: translateY(0);
}

#game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

#game-info-and-board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

#game-info {
    order: -1;
    margin-right: 20px; /* Adjust this value to create more space between the game info and the game board */
}

#gameWindow {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

#gameWindow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('falling-snakes.gif') center/cover no-repeat;
    filter: blur(2px);
    z-index: -1;
}


.row {
    display: flex;
}

.row > div {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    position: relative;
}

.row > .empty {
    background-color: var(--background-game-color);
}

.row > .food {
    background: url('food.png') no-repeat center, var(--background-game-color);
    background-size: 150% auto;
}

.row > .obstacle {
    background: url('obstacle.png') no-repeat center, var(--background-game-color);
    background-size: cover;
}

.row > .snake {
    background: url('body.png') no-repeat center;
    background-size: cover;
}

.row > .head {
    background: url('snake.png') no-repeat center, var(--background-game-color);
    background-size: 125% auto;
}

.row > .head.down {
    transform: rotate(0);
}

.row > .head.left {
    transform: rotate(90deg);
}

.row > .head.up {
    transform: rotate(180deg);
}

.row > .head.right {
    transform: rotate(270deg);
}



/* Add the background image to the leaderboard container */
#leaderboardWindow {
    position: relative; /* Position relative to contain child elements */
    padding: 20px; /* Add padding to separate the blurred background from the content */
    border-radius: 8px; /* Add border radius for aesthetic */
    overflow: hidden; /* Hide overflow to prevent blurred image from leaking out */
}

/* Apply blur effect and darken background image */
#leaderboardWindow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('falling-snakes.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px) brightness(0.5); /* Apply blur and darken effect */
    z-index: -1;
}

/* Style for the leaderboard content */
#leaderboardWindow h1 {
    color: white; /* Adjust text color for better contrast */
}

/* Style for the leaderboard table */
#leaderboardWindow table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

#leaderboardWindow th, #leaderboardWindow td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); /* Set a dark background color with transparency */
    color: white; /* Adjust text color */
}

#leaderboardWindow th {
    background-color: var(--primary-color); /* Set primary color for table headers */
}

#leaderboardWindow tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.1); /* Set a lighter background color for even rows */
}

#leaderboardWindow tbody tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.2); /* Set a slightly darker background color for odd rows */
}

#leaderboardWindow button {
    margin-top: 20px; /* Adjust button margin for better spacing */
    background-color: var(--primary-color); /* Set button background color */
    color: white; /* Set button text color */
    border: none; /* Remove button border */
    padding: 10px 20px; /* Adjust button padding */
    border-radius: 4px; /* Add border radius */
    cursor: pointer; /* Set cursor to pointer on hover */
    transition: background-color 0.3s, transform 0.3s; /* Add transition effects */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add box shadow for button */
}

#leaderboardWindow button:hover {
    background-color: var(--primary-hover-color); /* Change button background color on hover */
    transform: translateY(-2px); /* Move button slightly up on hover */
}

#leaderboardWindow button:active {
    background-color: var(--primary-active-color); /* Change button background color on click */
    transform: translateY(0); /* Reset button position on click */
}


.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.start-button,
.leaderboard-button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 10px; /* Adjust margin between buttons */
}

.start-button:hover,
.leaderboard-button:hover {
    background-color: var(--primary-hover-color);
    transform: translateY(-2px);
}

.start-button:active,
.leaderboard-button:active {
    background-color: var(--primary-active-color);
    transform: translateY(0);
}
#home-button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 10px; /* Adjust margin-top as needed */
}

#home-button:hover {
    background-color: var(--primary-hover-color);
    transform: translateY(-2px);
}

#home-button:active {
    background-color: var(--primary-active-color);
    transform: translateY(0);
}
