#game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.row {
    display: flex;
}

.row > div {
    border: 1px solid black;
    position: relative;
}

.row > .empty {
    background-color: white;
}

.row > .food {
    background-color: red;
}

.row > .obstacle {
    background-color: gray;
}

.row > .snake {
    background-color: green;
}

.row > .head {
    position: relative;
}

.row > .head::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
}

.row > .head.up::after {
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.row > .head.down::after {
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.row > .head.left::after {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.row > .head.right::after {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
