name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run tests
        run: |
          python -m pip install -r requirements.txt
          pytest test.py
        working-directory: SnakeGameProject/Tests

      - name: Build Docker image
        run: docker build -t SnakeGameProject:latest .
        working-directory: SnakeGameProject
